[submodule "seastar"]
	path = seastar
	url = https://github.com/scylladb/seastar
	ignore = dirty
[submodule "swagger-ui"]
	path = swagger-ui
	url = https://github.com/scylladb/scylla-swagger-ui
	ignore = dirty
[submodule "libdeflate"]
	path = libdeflate
	url = https://github.com/scylladb/libdeflate
[submodule "abseil"]
	path = abseil
	url = https://github.com/scylladb/abseil-cpp
[submodule "scylla-jmx"]
	path = tools/jmx
	url = https://github.com/scylladb/scylla-jmx
[submodule "scylla-tools"]
	path = tools/java
	url = https://github.com/scylladb/scylla-tools-java
[submodule "scylla-python3"]
	path = tools/python3
	url = https://github.com/scylladb/scylla-python3
[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson.git
