name: buildcpp

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  release:
    types: [published, edited, created]

env:
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - name: Configure 
      run: ./tools/toolchain/dbuild ./configure.py --mode=release
    - name: Build binary
      run: ./tools/toolchain/dbuild ninja
    - name: Packaging
      run: ./tools/toolchain/dbuild ninja dist
    - uses: actions/upload-artifact@v2
      with:
        name: scylla-rpms
        path: | 
          build/dist/*/redhat/RPMS/x86_64/
          tools/python3/build/redhat/RPMS/x86_64/scylla-python3-*.rpm
          tools/jmx/build/redhat/RPMS/noarch/scylla-jmx-*.rpm
          tools/java/build/redhat/RPMS/noarch/scylla-tools-*.rpm
          tools/java/build/redhat/RPMS/noarch/scylla-tools-core-*.rpm